services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Pintushi\Bundle\UserBundle\Form\Type\AclRoleType: ~

    Pintushi\Bundle\UserBundle\Form\Type\GroupType: ~

    Pintushi\Bundle\UserBundle\Form\Type\UserType:
        arguments:
            - 'pintushi_user.entity.user.class'
            - []

    Pintushi\Bundle\UserBundle\Form\Type\UserProfileType: ~
        arguments:
            - 'pintushi_user.entity.user.class'
            - []
