grids:
    users-grid:
        extended_entity_name: '%pintushi_user.entity.user.class%'
        options:
            entityHint: users
            entity_pagination: true
            mass_actions:
                delete:
                    enabled: false
        acl_resource: pintushi_user_user_view
        source:
            type: orm
            query_builder: '@pintushi_user.repository.user->createListQueryBuilder'
            hints:
                - HINT_TRANSLATABLE
        columns:
            firstName:
                label:         pintushi.user.first_name.label
                path: 'firstName'
            lastName:
                label:         pintushi.user.last_name.label
                path: 'lastName'
            email:
                label:         pintushi.user.email.label
                path: 'email'
            username:
                label:         pintushi.user.username.label
                path: 'username'
            enabled:
                label:         pintushi.user.enabled.label
                path: 'enabled'
            createdAt:
                label:         pintushi.ui.created_at
                frontend_type: datetime
                path: 'createdAt'
            updatedAt:
                label:         pintushi.ui.updated_at
                frontend_type: datetime
                path: 'updatedAt'
        properties:
            id: ~
        sorters:
            columns:
                username:
                    path: u.username
                email:
                    path: u.email
                firstName:
                    path: u.firstName
                lastName:
                    path: u.lastName
                createdAt:
                    path: u.createdAt
                updatedAt:
                    path: u.updatedAt
                enabled:
                    path: u.enabled
            default:
                username: '%pintushi_grid.extension.orm_sorter.class%::DIRECTION_ASC'
        filters:
            columns:
                firstName:
                    type: string
                    data_name: u.firstName
                lastName:
                    type: string
                    data_name: u.lastName
                email:
                    type: string
                    data_name: u.email
                username:
                    type: string
                    data_name: u.username
                enabled:
                    type: boolean
                    data_name: u.enabled
                    options:
                        field_options:
                            choices:
                                pintushi.user.grid.user.filters.disabled: 2
                                pintushi.user.grid.user.filters.enabled: 1
                createdAt:
                    type: datetime
                    data_name: u.createdAt
                updatedAt:
                    type: datetime
                    data_name: u.updatedAt
        actions:
            view:
                type:          navigate
                label:         pintushi.grid.action.view
                link:
                    route: api_users_view
                    params:
                        - id
                icon:          eye
                acl_resource:  pintushi_user_user_view
                rowAction:     true
            update:
                type:          navigate
                label:         pintushi.grid.action.update
                link:
                    route: api_users_update
                    params:
                        - id
                icon:          pencil-square-o
                acl_resource:  pintushi_user_user_update
            delete:
                type:          delete
                label:         pintushi.grid.action.delete
                link:
                    route: api_users_delete
                    params:
                        - id
                icon:          trash-o
                acl_resource:  pintushi_user_user_delete
        # action_configuration: ['@pintushi_user.grid.action_checker', checkActions]
